/* rules for large screen*/
@media (min-width:900px) {
    .container {
        display: grid;
        margin:auto;
        height: 100vh;
        width: 100vw;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 15% auto auto;
        grid-template-areas: 
        "hd hd hd hd"
        "sd main main main"
        "ft ft ft ft";
    }

    .maintitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }

    .mainmenu {
        display: flex;
        flex-wrap: wrap;
    }

    .postcontainer{
        grid-template-rows: 15% auto auto auto;
    
    }

    .book {
        display:flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;
    }

}