@import "post.css";
@import "small.css";
@import "medium.css";
@import "large.css";

body {
    font-family: "Lemonada";
    font-weight: 400;
    font-size: 12px;
    background-color: #F8F8FF; /*cornsilk;*/
    margin: 0;
    color: #4a0a5a; /*#362c35;*/
}

.sidenav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mainmenu {
    margin: 0;
}

h1 {
    font-style: italic;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: #5d0a72;
}

h2 {
    text-align: center;
}

h3 {
    font-style: oblique;
}

h4 {
    font-weight: 700;
    color: #5d0a72;
}


#mainimg {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    padding-right: 50px;
}

#footer {
    grid-area: ft;
    background-color: #b3f6f6;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.fa {
    padding: 5px;
    font-size: 5px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.continuetbtn {
    background-color: #b3f6f6;
    border: none;
    padding: 15px;
    text-align: center;
    font-family: "Lemonada";
    font-weight: 400;
    font-size: 12px;
    border-radius: 5%;
}