@import "post.css";
@import "small.css";
@import "medium.css";
@import "large.css";

body {
    /*background-image: url('C:/Users/natal/Automation/Udacity/Project1-PBW/PBW/images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
    font-family: "Lemonada";
    font-weight: 300;
    margin: 0;
}

.box {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    border: solid yellow;
    color: mediumpurple;
}

.nav2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
}

h2 {
    font: size 18px;
    font-style: italic;
    text-align: center;
    margin: 0;
}
