body {
    background-image: url('C:/Users/natal/Automation/Udacity/Project1-PBW/PBW/images/background1.jpg');
    background-size: cover;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    margin:auto;
    grid-template-columns: 250px 200px 500px 500px;
    grid-template-rows: 250px 430px 50px;
    /*grid-gap: 15px;*/
    grid-template-areas: 
    "img img hd hd"
    "sd main main main"
    "ft ft ft ft";
    border: 2px solid blue;
    /*justify-content: center;*/
}

.box{
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
    border: solid yellow;
    color: mediumpurple;
}

#header{
    grid-area: hd;
}

#img{
    grid-area: img;
    border: solid rosybrown;
    text-align: center;
    /*background-image: url('C:/Users/natal/Automation/Udacity/Project1-PBW/PBW/images/img1.jpg');*/
}

img{
    max-width:100%;
    height:auto;
}

#sidebar{
    grid-area: sd;
}

#content{
    grid-area: main;
}

#footer{
    grid-area: ft;
}

h1{
    font-size: 55px;
    font-style: italic;
    color: mediumpurple;
    text-shadow: 2px 2px 5px gray;
    text-align: center;
}

h2{
    font-size: 32px;
    font-style: italic;
    /*color: mediumpurple;*/
    text-align: center;
}