/* rules for medium screen*/
@media (min-width:600px) and (max-width:899px) {
    .container {
        display: grid;
        margin:auto;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 15% auto auto 5%;
        /*grid-gap: 15px;*/
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
        border: 2px solid red;
        /*justify-content: center;*/
    }

    .nav {
        display: inline;
    }

    
h2 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: row;
}

    .container2 {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin:auto;
        grid-template-columns: 250px 200px 500px 500px;
        grid-template-rows: 250px 430px 50px;
        /*grid-gap: 15px;*/
        grid-template-areas: 
        "hd hd hd hd"
        "main main main main"
        "ft ft ft ft";
        /*border: 2px solid blue;
        justify-content: center;*/
    }
}