
/* rules for small screen*/

.container2{
    display: grid;
    width: 100vw;
    height: 100vh;
    margin:auto;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 5%;
    /*grid-gap: 15px;*/
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    /*border: 2px solid blue;
    justify-content: center;*/
}

#content2{
    display: flex;
    border-color: blue;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;

}

#header2{
    grid-area: hd;
}

#content2{
    grid-area: main;
}

#footer2{
    grid-area: ft;
}

