/* rules for small screen*/
.postcontainer {
    display: grid;
    margin: auto;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "hd"
    "ai"
    "main"
    "ft";
}

#content2 {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

#header2 {
    grid-area: hd;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .description {
    padding: 15px;
  }

.fa {
    padding: 5px;
    font-size: 5px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.bth {
    display: block;
    text-align: center;
}

.homebtn {
    display: block;
    background-color: #b3f6f6;
    border: none;
    padding: 15px;
    text-align: center;
    font-family: "Lemonada";
    font-weight: 300;
    font-size: 12px;
    border-radius: 5%;
    width: 20%;
}

#AuthorInfo {
    grid-area: ai;
    margin-left: 30px;
}