body {
    background-color: turquoise;
    color: white;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    margin:auto;
    grid-template-columns: 250px 200px 500px 500px;
    grid-template-rows: 250px 430px 50px;
    /*grid-gap: 15px;*/
    grid-template-areas: 
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";
    border: 2px solid blue;
    /*justify-content: center;*/
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid yellow;
}

#header{
    grid-area: hd;
}

#content{
    grid-area: main;
}

#footer{
    grid-area: ft;
}

